.BetController {
    background-color: lightblue;
    width: calc(100% - 253px);
    display: block;
    height: 220px;
    margin-top: 130px;
    margin-right: 60px;
}
.BetControllerHeader {
    display: flex;
}

.BetControllerHeader h1 {
    margin: 0;
    padding: 0;
    color: #929ab5;
    font-size: 21px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: .84px;
    margin: 10px;
}

.BetControllerHeader div {
    margin-left: auto;
    margin-top: 12px;
    color: #616e8e;
    font-size: 15px;
    font-weight: 500;
    line-height: 1.2;
    text-transform: uppercase;
    transition: color .2s ease-out 0s;
}

.BetControllerHeader div i {
    margin-left: 5px;
    font-size: 14px;
}

.BetController div:hover {
    color: #7e8bac;
}