.Layout {
    display: flex;
    width: 100%;
    height: 120px;
    box-sizing: border-box;
    padding: 0 15px;
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
}

.LayoutRightSide {
    display: flex;
    align-items: center;
    margin-left: auto;
}