.Layout {
    display: flex;
    width: 100%;
    height: 120px;
    box-sizing: border-box;
    padding: 0 15px;
    position: absolute;
    z-index: 10;
    top: 0;
    left: 0;
}

.LayoutSteamButton {
    display: flex;
    align-items: center;
    height: 50px;
    width: 200px;
    color: #fff;
    background-color: #65b296;
    border-radius: 10px;
}

.LayoutSteamButton span {
    font-size: 20px;
    margin: 0 auto;
}

.LayoutRightSide {
    display: flex;
    align-items: center;
    margin-left: auto;
}