.Modal {
    position: fixed;
    z-index: 500;
    background-color: #21254a;
    width: 470px;
    height: 240px;
    box-shadow: 0px 0px 10px #101322;
    border-radius: 10px;
    padding: 30px;
    left: 37%;
    top: 33%;
    transition: all 0.3s ease-out;
}

.Modal h1 {
    color: #fff;
    font-size: 1.2142857143rem;
    font-weight: 500;
    line-height: 1.2;
    text-transform: uppercase;
    margin-bottom: 20px;
}

.Modal i {
    position: absolute;
    top: 5px;
    left: 505px;
    color: #6e6f89;
    font-size: 20px;
    transition: .2s;
}

.Modal i:hover {
    color: #fff;
}