.KoefInput {
    outline: none;
    border: none;
    border-radius: 10px;
    height: 50px;
    margin-left: 20px;
    width: 200px;
    background-color: #252f53;
    text-align: center;
    color: #fff;
    font-size: 27px;
    font-weight: 500;
    transition: .2s;
    box-sizing: border-box;
}

.KoefInput:hover,
.KoefInput:focus {
    background-color: #202948;
}
.ChangeInput {
    height: 48px;
    width: 80px;
    margin-right: 4px;
    color: #ced3ea;
    background-color: #2b365b;
    border: 2px solid #39446b;
    border-radius: 10px;
    font-weight: 600;
    font-family: DIN Pro,sans-serif;
    transition: .2s;
    outline: none;
    cursor: pointer;
    text-align: center;
    box-sizing: border-box;
}
.ChangeInput:hover {
    border: 2px solid #50557b;
    color : white;
}

.ChangeInput:focus {
    border : 2px solid #5540d7;
}