.Main {
    height: 100vh;
    display: flex;
}

.LeftSide {
    width: 530px;
    height: 100%;
    background-color: #1e2443;
    position: relative;
    left: 0px;
    padding: 0 30px;
    box-sizing: border-box;
}

.RightSide {
    width: calc(100% - 530px);
    height: 100%;
    background-color: #20274b;
    position: relative;
    left: 0px;
}

.BetCards {
    margin-top: 10px;
    width: calc(100% - 85px);
    padding-right: 10px;
    padding-left: 30px;
    height: 200px;
    overflow-y: scroll;
    overflow-x: hidden;
}

.BetCards::after{
    content: "";
    position: absolute;
    left: 0;
    bottom:  58px;
    display: block;
    width: 100%;
    height: 20px;
    background: #20274b;
    background: linear-gradient(0deg,#20274b 0,transparent);
    z-index: 10;
}

.BetCards::-webkit-scrollbar {
    width: 5px;
  }
.BetCards::-webkit-scrollbar-track {
    background-color: #26294b;
  }
.BetCards::-webkit-scrollbar-thumb {
    background-color: #3c406d;
    border-radius: 5px;
  }