.LastCrash {
    height: 100%;
    padding: 0 10px;
    background-color: #3e4caf;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 6px;
    border-radius: 8px;
    color: #fff;
    font-size: 1rem;
    font-weight: 500;
    line-height: 30px;
    text-decoration: none;
}